.card-custom{
    width: 100%;
    max-width: 900px;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

.bg-card{
    background-color: white;
}

@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
    .card-custom.d-block {
        border: none;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }

    .form-contact {
        border: none;
        width: 100%;
        margin: 0;
    }

}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
