<div class="bg mt-1">
  <div class="container">
    <div class="main-cards">
      <img src="maler.png"  class="main-image" alt="{{ 'MALER.IMAGE_ALT' | translate }}" />

      <div class="d-flex flex-column ms-md-5 justify-content-center">
        <h3 class="mb-4">{{ "MALER.TITLE" | translate }}</h3>
        <h5 class="fw-bold">
          {{ "MALER.SUBTITLE" | translate }}
        </h5>
        <span class="fs-5 mb-2">
          {{ "MALER.DESCRIPTION1" | translate }}
        </span>
        <span class="fs-5 mb-4">
          {{ "MALER.DESCRIPTION2" | translate }}
        </span>
        <ul class="fs-5">
          <li>{{ "MALER.BENEFITS.BENEFIT1" | translate }}</li>
          <li>{{ "MALER.BENEFITS.BENEFIT2" | translate }}</li>
          <li>{{ "MALER.BENEFITS.BENEFIT3" | translate }}</li>
        </ul>
        <span class="fs-5">
          {{ "MALER.DESCRIPTION3" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
