<!-- <div class="bg mt-2">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div class="col-md-6">
        <h3 class="mb-4">{{ "VENETIAN_PLASTER.TITLE" | translate }}</h3>
        <p class="fs-5">
          {{ "VENETIAN_PLASTER.DESCRIPTION1" | translate }}
        </p>
        <br />
        <h5>{{ "VENETIAN_PLASTER.SUBTITLE" | translate }}</h5>
        <br />
        <span class="fs-5">
          {{ "VENETIAN_PLASTER.DESCRIPTION2" | translate }}
        </span>
        <br />
        <span class="fs-5">
          {{ "VENETIAN_PLASTER.DESCRIPTION3" | translate }}
        </span>     
      </div>
      <div class="col-md-6 pb-3">
        <img class="ms-5" style="height: 700px" src="boden.png" alt="{{ 'VENETIAN_PLASTER.IMAGE_ALT' | translate }}" />
      </div>
    </div>
  </div>
</div> -->
<main class="mt-3">
  <div class="bg">
    <div class="container">
      <div class="main-cards-rev">
        <div class="d-flex flex-column ms-md-5 justify-content-center">
          <h3 class="mb-4">{{ "VENETIAN_PLASTER.TITLE" | translate }}</h3>
          <p class="font">
            {{ "VENETIAN_PLASTER.DESCRIPTION1" | translate }}
          </p>
          <br />
          <h5>{{ "VENETIAN_PLASTER.SUBTITLE" | translate }}</h5>
          <br />
          <span class="font">
            {{ "VENETIAN_PLASTER.DESCRIPTION2" | translate }}
          </span>
          <br />
          <span class="font">
            {{ "VENETIAN_PLASTER.DESCRIPTION3" | translate }}
          </span>
        </div>
        <img src="bad.jpg" alt="Badsanierung" class="main-image-rev" />
      </div>
    </div>
  </div>
</main>
