<main>
  <div class="bg" style="z-index: 1; position: relative">
    <div class="container">
      <div class="main-cards">
        <img  src="mosaik.png" alt="mosaik" class="main-image" />

        <div class="d-flex flex-column ms-md-5 justify-content-center">
          <h3>{{ "CARD_TITLES.FLIESEN" | translate }}</h3>
          <p class="fs-5 mt-3">
            {{ "FLIESEN.DESCRIPTION1" | translate }}
          </p>
          <br />
          <span class="fs-5">
            {{ "FLIESEN.DESCRIPTION2" | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</main>
