<main class="mt-1">
  <div class="bg">
    <div class="container">
      <div class="main-cards-rev">
        <div class="d-flex flex-column ms-md-5 justify-content-center">
          <h3 class="mb-4">{{ "BAD.TITLE" | translate }}</h3>
          <p class="fs-5">
            {{ "BAD.DESCRIPTION1" | translate }}
          </p>
          <br />
          <span class="fs-5">
            {{ "BAD.DESCRIPTION2" | translate }}
          </span>
          <br />
          <span class="fs-5">
            {{ "BAD.DESCRIPTION3" | translate }}
          </span>
          <br />
          <h5>{{ "BAD.TITLE_10_DAYS" | translate }}</h5>
        </div>
        <img src="bad.png" alt="Badsanierung" class="main-image-rev" />
      </div>
    </div>
  </div>
</main>
