.bg-footer {
  background-color: rgba(103, 103, 245, 0.24);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 140px;
}

.circle{
  font-size: 40px;
   color: black;
}

/* Media Query per mobile e tablet */
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    order: 2;
  }

  .left-list {
    order: -1;
  }
  .footer-none {
    display: none;
  }
  .footer-icons {
    display: flex;
    gap: 10px; 
  }
}


.footer {
  text-align: center; /* Assicura che tutto il testo sia centrato */
}
.footer .left-list {
  margin-bottom: 20px; /* Aggiungi margine per separare il logo e il resto */
}

ul{
  list-style: none;
}