<footer id="footer" class="bg-footer mt-5">
  <h1 class="d-flex justify-content-center pt-3">{{'FOOTER.CONTACT_ME' | translate}}</h1>
  <div class="w-100 footer p-4 d-flex flex-column flex-sm-row justify-content-between align-items-start">
    <div class="left-list fs-5 w-100 d-flex flex-column align-items-center align-items-sm-start">
      <div class="logo mb-2 text-center">
        <!-- Logo per desktop e tablet -->
        <img src="logo.png" alt="Logo" class="footer-logo d-none d-sm-block" />
        <!-- Logo per mobile -->
        <img src="logo-footer.png" alt="Logo" class="footer-logo d-sm-none mb-3" />
      </div>
      <div class="d-flex align-items-center justify-content-center gap-5">
        <div class="d-flex flex-column">
          <span class="fw-bold footer-none text-center text-sm-start">{{'TITLE' | translate}}</span>
          <span class="footer-none text-center text-sm-start">
            <a href="https://maps.app.goo.gl/vcQSVUHbZs5XdQEw9" target="_blank">
              {{'FOOTER.ADDRESS' | translate}}
            </a>
          </span>
          <span class="footer-none text-center text-sm-start">+49 1624742078
            <a href="https://web.whatsapp.com/send?phone=491624742078" target="_blank" class="btn btn-success btn-sm ms-2">{{'FOOTER.WHATSAPP_MESSAGE' | translate}}</a>
          </span>
        </div>
        <div class="d-flex flex-column mb-5">
          <span class="text-center text-sm-start"><h4 class="fw-bold">{{'FOOTER.HOURS.TITLE' | translate}}</h4></span>
          <span class="text-center text-sm-start">
            <span>{{'FOOTER.HOURS.MON_FRI' | translate}}</span> <br />
            <span>7:00 - 17:00</span>
          </span>
          <span class="text-center text-sm-start">
           <span>{{'FOOTER.HOURS.SAT_SUN' | translate}}</span> 
          </span>
        </div>
      </div>

      <div class="footer-icons d-lg-none d-sm-flex justify-content-center mt-3">
        <a href="https://maps.app.goo.gl/vcQSVUHbZs5XdQEw9">
          <i class="circle ph ph-map-pin"></i>
        </a>
        <a href="whatsapp://send?phone=491624742078">
          <i class="circle ph ph-whatsapp-logo"></i>
        </a>
        <a href="mailto:info@fliesenundmalermail.de">
          <i class="circle ph ph-envelope"></i>
        </a>
      </div>
    </div>

    <!-- Componente form a destra -->
    <div class="w-100 mt-4 mt-sm-0">
      <app-contact-form></app-contact-form>
    </div>

    <div class="right-list me-4"></div>
  </div>
</footer>
