<!-- <div class="bg-footer mt-5">
  <div class="container p-5 d-flex justify-content-between align-items-center">
    <div class="left-list fs-5">
      <ul>
        <li class="fw-bold">Fliesenleger und Maler</li>

        <li>
          <a
            href="https://www.google.it/maps/place/Am+Dachsbau+64,+13503+Berlin,+Germany/@52.6143155,13.2301068,17z/data=!3m1!4b1!4m6!3m5!1s0x47a8557302619143:0xfe3688211d9c971b!8m2!3d52.6143123!4d13.2326817!16s%2Fg%2F11c2498tr5?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
            >Am Dachsbau 64, 13503 Berlin</a
          >
        </li>
        <li>
          +49 1624742078
          <a
            href="https://web.whatsapp.com/send?phone=491624742078"
            target="_blank"
            class="btn btn-success btn-sm ms-2"
            >Messaggio WhatsApp</a
          >
        </li>
      </ul>
    </div>
    <div class="logo">
      <img src="logo.png" alt="Logo" />
    </div>
    <div class="right-list fs-5">
      <ul>
        <li class="fw-bold">Giancaspro Giuseppe</li>
        <li>Fax: +49 03037432960</li>
        <li>
          Email: fliesenundmaler(at)gmail.de<a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=info@fliesenundmalermail.de"
            target="_blank"
            class="btn btn-success btn-sm ms-2"
            >Email</a
          >
        </li>
      </ul>
    </div>
  </div>
</div> -->
<footer class="bg-footer mt-5">
  <div class="container footer p-5 d-flex justify-content-between align-items-center">
    <div class="left-list fs-5">
      <ul>
        <li class="fw-bold footer-none">Fliesenleger und Maler</li>
        <li class="footer-none">
          <a href="https://www.google.it/maps/place/Am+Dachsbau+64,+13503+Berlin,+Germany/@52.6143155,13.2301068,17z/data=!3m1!4b1!4m6!3m5!1s0x47a8557302619143:0xfe3688211d9c971b!8m2!3d52.6143123!4d13.2326817!16s%2Fg%2F11c2498tr5?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D">Am Dachsbau 64, 13503 Berlin</a>
        </li>
        
        <li class="footer-none">
          +49 1624742078
          <a href="https://web.whatsapp.com/send?phone=491624742078" target="_blank" class="btn btn-success btn-sm ms-2" >Messaggio WhatsApp</a>
        </li>
       
      </ul>
      <div class="footer-icons d-lg-none d-sm-flex">
        <a href="https://www.google.it/maps/place/Am+Dachsbau+64,+13503+Berlin,+Germany/@52.6143155,13.2301068,17z/data=!3m1!4b1!4m6!3m5!1s0x47a8557302619143:0xfe3688211d9c971b!8m2!3d52.6143123!4d13.2326817!16s%2Fg%2F11c2498tr5?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D">
          <i class="ph ph-map-pin"></i>
        </a>
        <a href="https://web.whatsapp.com/send?phone=491624742078" target="_blank">
          <i class="ph ph-whatsapp-logo"></i>
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@fliesenundmalermail.de" target="_blank">
          <i class="ph ph-envelope"></i>
        </a>
      </div>
    </div>
    <div class="logo">
      <!-- Logo per desktop e tablet -->
      <img src="logo.png" alt="Logo" class="footer-logo d-none d-sm-block" />
      <!-- Logo per mobile -->
      <img src="logo-footer.png" alt="Logo" class="footer-logo d-sm-none mb-3" />
    </div>

    <div class="right-list fs-5">
      <ul>
        <li class="fw-bold footer-none">Giancaspro Giuseppe</li>
        <li class="footer-none">Fax: +49 03037432960</li>
        <li class="footer-none">
          Email: fliesenundmaler(at)gmail.de<a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=info@fliesenundmalermail.de"
            target="_blank"
            class="btn btn-success btn-sm ms-2"
            >Email</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>